*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Vazirmatn',sans-serif;
}

body{
background:#0b0b0b;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111;
position:sticky;
top:0;
}

.logo{
font-size:28px;
font-weight:bold;
color:#00e5ff;
}

nav a{
color:white;
text-decoration:none;
margin-right:20px;
transition:.3s;
}

nav a:hover{
color:#00e5ff;
}

.hero{
height:70vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:linear-gradient(to bottom,#101010,#0b0b0b);
}

.hero h1{
font-size:55px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:700px;
color:#ccc;
}

.hero button{
margin-top:35px;
padding:15px 35px;
border:none;
border-radius:12px;
background:#00e5ff;
font-size:18px;
cursor:pointer;
}

.songs{
padding:70px 8%;
}

.songs h2{
margin-bottom:35px;
font-size:35px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.card{
background:#181818;
border-radius:18px;
overflow:hidden;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
display:block;
}

.card h3{
padding:15px;
}

.card p{
padding:0 15px 15px;
color:#aaa;
}

.card button{
margin:15px;
width:calc(100% - 30px);
padding:12px;
border:none;
background:#00e5ff;
border-radius:10px;
cursor:pointer;
}

footer{
padding:40px;
text-align:center;
color:#888;
}

@media(max-width:768px){

header{
flex-direction:column;
gap:15px;
}

nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.hero h1{
font-size:34px;
}

.hero p{
font-size:17px;
}

}
.player{
    width:90%;
    max-width:350px;
    margin:40px auto;
    position:relative;
    border-radius:20px;
    overflow:hidden;
    background:#181818;
}

.player .cover{
    width:100%;
    height:250px;
    object-fit:cover;
    display:block;
}

.player audio{
    position:absolute;
    bottom:15px;
    left:10px;
    width:calc(100% - 20px);
}

.player .info{
    position:absolute;
    top:15px;
    right:15px;
    color:white;
    background:rgba(0,0,0,0.5);
    padding:10px;
    border-radius:10px;
}
